.BreadCrum{
    margin-top: 2vh;
    font-size: 2vh;
    font-family: "poppins", serif;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (max-width:480px) {
    .BreadCrum{
        font-size: 1vh;
    }
}