/* Container for the entire add-product form */
.add-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  max-width: 900px;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  min-height: 100vh;
}

/* Header styling */
.heading {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: #333;
  text-align: center;
  font-weight: 700;
}

/* Form styling */
.add-product-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

/* Input fields and select boxes */
.input-field, .category-field {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  background-color: #f8f8f8;
  transition: border-color 0.3s;
}

.input-field:focus, .category-field:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.description-field {
  height: 150px;
  resize: vertical;
  padding: 1rem;
}


.custom-file-upload {
  display: flex;
  padding: 3vh;
  background-color: #007bff;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 30vw;
  height: 30vw;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  margin-bottom: 2vh;
}

.custom-file-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #3498db;
  transition: transform 0.3s, border-color 0.3s;
}

.custom-file-upload img:hover {
  transform: scale(1.05);
  border-color: #2980b9;
}

/* File input (hidden) */
.file-input {
  display: none;
}

/* Submit button */
.submit-button {
  padding: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.submit-button:active {
  background-color: #1c6ea4;
  transform: translateY(1px);
}
.file_upload{
  height: 30vh;
}
