.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin : 2vh 2vh
}

.item img {
  width: 20vw;
  height: 20vw;
  margin-bottom: 0; 
  padding: 0; 
  display: block; 
}

.item-details {
  margin-top: 10px; 
}

.imp-details {
  gap: 20px;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p.item_name {
  font-family: "Poppins", serif;
  font-size: 2vh;
  font-weight: 500;
  margin: 0;
}

.item_prices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Poppins", serif;
  font-size: 3vh;
  font-weight: 600;
  align-items: center;
  gap: 1vw;
}

.old_price {
  font-size: 3vh;
  color: gray;
  text-decoration: line-through;
}

.lecturer{
  color: darkslategrey;
  font-weight: 700;
  font-size: 1.5vh;
}
.sub-cat{
  font-size: 1.5vh;
}
.other_details_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.heart-button {
  cursor: pointer;
  position: relative;
  color: lightsteelblue;
  font-size: 5vh;
}

.heart-button .clicked {
  color: red; /* Red heart when clicked */
  font-size: 5vh;
}

.heart-animation {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 1vh;
  animation: floatHearts 2s ease-out forwards;
}

@keyframes floatHearts {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
