.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  background-color: white; 
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif; 
}


.navbar-logo img {
  height: 15vh; 
}

.heading{
    font-weight: 700;
    font-size:5vh;
}




@media screen and (max-width:480px){

  .navbar-logo img {
    height: 15vh; 
  }
  
  .heading{
      font-weight: 700;
      font-size:1vh;
  }
  
  
}