@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.new_items{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 5vw;
    margin-top: 5vh;
}

.new_collection{
    display: flex;
    justify-content: center;
align-items: center;
font-family:  "Bungee Tint", sans-serif;
margin: 2vh 2vh;
padding-top: 13vh ;
padding-bottom: 6vh;
font-size: 3vh;
border-top: 2px solid black;

}

.new_collections{
    border-bottom: 2px solid black;
    padding-bottom: 10vh;
}

@media screen and (max-width:480px) {

    .new_items{
      
        grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
        gap: 5vw;
        margin-top: 5vh;
    }
    
    .new_collection{
    font-size: 2vh;
    text-align: center; 
    }
    
    .new_collections{
        border-bottom: 2px solid black;
        padding-bottom: 10vh;
    }
    
}