

.banner{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ShopCategory_index_sort{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: 700;
    font-family: "poppins",serif;
}

.ShopCategory_sort{
    display: flex;
    font-family: "poppins",serif;
    font-size: 4vh;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.ShopCategory_products{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 5vw;
    margin-top: 5vh;
}



.ShopCategory{
    
    padding-bottom: 10vh;
}

@media screen and (max-width:480px) {

    .banner{
        margin-top: 2vh;
        width: 100%; 
    }
    
    
    .ShopCategory_index_sort{
       margin-top: 5vh;
        font-size: 3vh;
        
    }
    
    .ShopCategory_sort{ 
        font-size: 2vh;
       
    }
    .ShopCategory_products{
       
        grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
        
    }
    
    
    
    .ShopCategory{
        
        padding-bottom: 10vh;
    }
    
}